<div class="column">
  <h3 class="column-title">{{ title }}</h3>
  @if (tasks$ | async; as tasks) { @for( task of tasks; track task.id){

  <div class="column-taskCard">
    <div>Title: {{ task.title }}</div>
    <div>Status: {{ task.status }}</div>
    <div class="column-actions">
      @for (status of statuses; track status){
      <button class="column-btn" (click)="onChangeStatus(task.id, status)">
        {{ status }}
      </button>
      }
      <button class="column-btn column-del" (click)="onDeleteTask(task.id)">
        Delete task
      </button>
      <button class="column-btn" (click)="onEditTask(task)">Edit task</button>
    </div>
  </div>
  }} @if(showEditTask) {

  <app-task-edit [task]="selectedTask" />
  }
</div>
