.column {
  background-color: lightblue;
  border-radius: 0.5rem;
  padding: 5px 20px;
  border: 3px solid lightcoral;

  .column-title {
    text-align: center;
    padding-bottom: 20px;
  }

  .column-taskCard {
    border-top: 3px solid lightcoral;
    padding: 10px 0px;

    .column-actions {
      .column-btn {
        color: black;
        background-color: lightgreen;
        padding: 5px 10px;
        border-radius: 0.5rem;
        margin: 10px;
      }

      .column-del {
        margin-left: 10px;
        background-color: red;
      }
    }
  }
}

.task-container {
  position: fixed;
  inset: 0;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background-color: white;
    border-radius: 05 rem;
    min-width: 400px;
    max-width: 90vw;
    overflow: hidden;

    .task-header {
      display: flex;
      background-color: lightblue;
      justify-content: space-between;
      padding: 20px;
      border-radius: 0.5rem 0.5rem 0 0;

      .task-header-txt {
        align-content: center;
      }

      .task-x-btn {
        border-radius: 0.5rem;
        padding: 10px;
        background-color: red;
        color: white;
        font-size: large;
        font-weight: 600;
      }
    }
  }
}
