.column {
  background-color: lightblue;
  border-radius: 0.5rem;
  padding: 5px 20px;
  border: 3px solid lightcoral;

  .column-title {
    text-align: center;
    padding-bottom: 20px;
  }

  .column-taskCard {
    border-top: 3px solid lightcoral;
    padding: 10px 0px;

    .column-actions {
      .column-btn {
        color: black;
        background-color: lightgreen;
        padding: 5px 10px;
        border-radius: 0.5rem;
        margin: 10px;
      }

      .column-del {
        margin-left: 10px;
        background-color: red;
      }
    }
  }
}
