.actions button {
  margin-left: 30px;
}

.kanaban {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.undo-bar {
  background-color: lightgreen;
  width: 200px;
  border-radius: 0.5rem;
  padding: 10px;
}

.no-tasks {
  margin: 10px;
  padding: 10px 5px;
  border: 1px solid red;
  border-radius: 0.5rem;
  background-color: red;
  color: white;
  width: 200px;
  text-align: center;
}
.no-tasks-btn {
  border-radius: 0.3rem;
  margin: 10px;
  padding: 5px 10px;
}
