.actions button {
  margin-left: 30px;
}

.kanaban {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.undo-bar {
  background-color: lightgreen;
  width: 200px;
  border-radius: 0.5rem;
  padding: 10px;
}
